Flask
Flask-CORS
Flask-SQLAlchemy==3.0.5
python-dotenv
authlib
requests
Flask-Session
redis
gunicorn
pypdf
Flask-Migrate
Werkzeug
beautifulsoup4
psycopg2-binary
flask-admin
flask-socketio==5.3.6
flask_mail
marshmallow==3.19.0
flask-marshmallow==0.15.0
marshmallow-sqlalchemy==0.29.0
eventlet==0.33.3

